body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #efebe9;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.brand-logo{
  margin-left: 10px;
}

form {
  padding: 20px;
  margin: 60px;
}

/* label color */
.input-field label {
  color: #9e9e9e;
} 

/* label focus color */
.input-field input[type=text]:focus + label {
  color: #9ccc65;
}

/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #9ccc65;
  box-shadow: 0 1px 0 0 #000;
}

.note{
  padding: 10px;
  margin-bottom: 30px;
}

.noteslist{
  padding: 20px;
  margin-top: 30px;
}
